
.border{
    border: 1px solid #E8E8E8;
    border-radius: 8px;

}
.border h3{
    text-align: left;
    margin-left: 50px;
}
.border p{
    text-align: left;
    margin-left: 50px;
}
.logo{
    width: 300px;
    height: 400px;
}

.logo img{
    width: 200px;
    height: 100px;
 
    object-fit: cover;
    overflow: hidden;
}
.bordering{
    text-align: left;

    border: 1px solid #A569BD;
    color: #A569BD;
    margin-left:50px ;

}
.bordering p{
    margin-right: 50px;
}
.flex{
    display: flex;
}
button{
    margin-right: 80px;


}

