.flex{
    display: flex;
    align-items: center;
    gap: 30px;
}
.flex img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.flex-item{
    flex: 1;
    height: 600px;
}

.text-leftalligned{
    text-align: left;
}
.sizing{

    margin: 50px 200px 100px 0px;
}
/* ======================================= */
.title{
    width: 411px;
    height: 66px;
    margin: 0 300px 0 330px;
}

.centering{
    margin: 100px;
}

/* ============================================ */
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows with equal height */
    gap: 10px; 
    height: 600px;
    width: 1030px;
    margin: auto;
}
.view-more-button button{
    margin-top: 1300px;
    margin-left: 100px;

}